.benefit_item {
    display: flex;
    align-items: center;
    gap: 20px;

    .icon {
        display: flex;

        .bg_effect,  .icon_bg {
            width: 48px;
            height: 48px;
        }

        .bg_effect {
            display: inline-block;
            background: linear-gradient(270deg, #721AE7 0%, rgba(114, 26, 231, 0.00) 100%);
            opacity: 0.4;
        }

        .icon_bg {
            background-color: #721AE7;  
            display: grid;
            place-content: center;

            svg {
                font-size: 24px;
            }
        }
        
    }

    .texts {
        max-width: 500px;

        h3 {
            margin-bottom: 8px;
            font-size: 16px;
            font-weight: 600;
        }

        p {
            font-size: 12px;
            opacity: 0.8;
            font-weight: 200;
            line-height: 180%;
        }
    }
}