@keyframes pulse {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#form_container {
    max-width: 360px;
    margin-left: 5%;
    
    .budget_button {
        width: 100%;
        border-radius: 8px;
    }

    h2, .bullet {
        position: relative;
        z-index: 1;
    }
    
    h2 {
        font-size: 32px;
        margin-bottom: 28px;
        position: relative;
    }
    
    .bullet {
        margin-left: 14px;
        font-size: 14px;
        margin-bottom: 14px;
        line-height: 24px;
        
        &:nth-child(3) {
            margin-bottom: 28px;
        }

        &::before {
            content: '\2022';
            font-size: 14px;
            position: relative;
            margin: 0 2px;
            color: #fff;
            animation: pulse 1.5s alternate infinite;
        }
    }
    
    .form {
        display: flex;
        flex-direction: column;
        max-width: 360px;
        gap: 18px;
        position: relative;
        z-index: 1;

        label input,  textarea {
            width: 100%;
            border-radius: 4px;
            color: #7C7C83;
            border: none;
            padding-left: 44px;
        }

        label {
            width: 100%;
            height: 44px;
            position: relative;

            svg {
                fill: #7C7C83;
                font-size: 20px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 14px;
            }

            input {
                background-color: #fff;
                height: 100%;
                

                &::placeholder {
                    color: #7C7C83;
                }
            }
        }

        textarea {
            height: 150px;
            padding: 14px;
            font-size: 14px;
            resize: none;

        }
    }

    @media(max-width: 768px){
        max-width: 320px;
    }

    @media(max-width: 465px){
        margin: 0 auto;
    }
}