.infinite_list_item {
    border: 1px solid #ffffff40;
    padding: 8px 24px;
    border-radius: 120px;
    font-size: 14px;
    display: flex;

    @media(max-width: 425px){
        padding: 6px 14px;
        font-size: 10px;
    }
}