* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    color: #fff;
}

span {
    display: inline-block;
}

body, html {
    overflow-x: hidden;
}